.example-form-fields {
    display: flex;
    align-items: flex-start;
}

.w-100{
    width: 100%;
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

// .mat-elevation-z8{
//     transition: ;
// }

table td{
    min-width: 6rem;
}